@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&family=Teko:wght@700&display=swap');

body {
  font-family: 'Rajdhani', sans-serif;
  background-color: #09010c;
  color: #fdec22;
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  background-color: #09010c;
}

h1 {
  font-family: 'Teko', sans-serif;
  text-align: center;
}

main {
  padding-top: 90px;
}

.loading {
  position: fixed;
  top: 150px;
  left: calc(50% - 200px);
  display: none;
  width: 400px;
  font-size: xx-large;
  padding: 10px;
  text-align: center;
  background-color: #080315;
  border: 1px solid #fdec22;
}

.active {
  display: block !important;
}

.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 400px;
  background-color: #080315;
  border: 1px solid #fdec22;
}

img {
  max-width: 400px;
  height: 200px;
}

h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 1024px) {
  .photo {
    width: 295px;
  }

  img {
    max-width: 295px;
  }
}

@media only screen and (max-width: 768px) {
  .photo {
    width: 340px;
  }

  img {
    max-width: 340px;
  }
}